@page "/AddTrainess"


<div class="content-page">
    <div class="content-add">
        <div class="text-item">
            <h2> اسم المتدرب عربي</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>اسم المتدرب انجليري</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>البريد الالكتروني</h2>
            <input type="email" />
        </div>
        <div class="text-item">
            <h2>رقم الهاتف</h2>
            <input type="number" />
        </div>
        <div class="text-item">
            <h2>رقم الهوية</h2>
            <input type="number" />
        </div>
        <div class="text-item">
            <h2>اسم الوظيفة عربي</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>اسم الوظيفةانجليري</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2 for="gender">الجنس:</h2>
            <select id="gender" name="gender">
                <option value="male">ذكر</option>
                <option value="female">انثى</option>
                <option value="other">اخر</option>
            </select>
        </div>
        <div class="text-item">
            <h2>الجنسية</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>الديانة</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>الحالة الاجتماعية</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>العنوان</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>المؤهل العلمي</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>نوع المؤهل</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>تاريخ التخرج</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>مكان التخرج</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>قسم التدريب</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>مدة التدريب</h2>
            <input type="month" /> 
        </div>
        <div class="text-item">
            <h2>راتب التدريب</h2>
            <input type="number" />
        </div>
        <div class="text-item">
            <h2>تاريخ بدء التدريب</h2>
            <input type="date" />
        </div>
        <div class="text-item">
            <h2>تاريخ نهاية التدريب</h2>
            <input type="date" />
        </div>
        <div class="text-item">
            <h2>مكان التدريب</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2 >حضر التدريب</h2>
            <select id="tr">
                <option value="yes">نعم</option>
                <option value="no">لاء</option>
            </select>
        </div>
        <div class="text-item">
            <h2>مهارات ادارية</h2>
            <input type="text" />
        </div><div class="text-item">
            <h2>مهارات فنية</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>تقييم المدرب</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>صورة</h2>
            <input type="file" />
        </div>
        <div class="text-item-note">
            <h2>ملاحظات</h2>
            <textarea class="notes"></textarea>
        </div>
    </div>
</div>
