@page "/AddEmployee"


<div class="content-page">
    <div class="cont-add">
        <div class="content-add">
            <div class="text-item">
                <h2> اختر الفرع </h2>
                <select name="">
                    <option>فرع 1</option>
                    <option>فرع 2</option>
                </select>
            </div>
            <div class="text-item">
                <h2> اختر القسم </h2>
                <select name="">
                    <option>قسم 1</option>
                    <option>قسم 2</option>
                </select>
            </div>
            <div class="text-item">
                <h2> الحالة</h2>
                <select name="">
                    <option>مفعل</option>
                    <option>غير مفعل</option>
                </select>
            </div>
        </div>
        <div class="content-add">
            <div class="text-item">
                <h2>اسم الموضف عربي</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2>اسم الموضف انجليري</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2>رقم الهاتف</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2>البريد الالكتروني</h2>
                <input type="email" />
            </div>
            <div class="text-item">
                <h2>كلملة المرور</h2>
                <input type="text" />
            </div>
        </div>
        <div class="content-add">
            <div class="text-item">
                <h2>اسم الوظيفة عربي</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2>اسم الوظيفة انجليري</h2>
                <input type="text" />
            </div>
        </div>
        <div class="content-add">
            <div class="text-item">
                <h2>تاريخ الميلاد</h2>
                <input type="date" />
            </div>
            <div class="text-item">
                <h2>الجنس</h2>
                <select name="">
                    <option>ذكر</option>
                    <option>انثى</option>
                    <option>اخر</option>
                </select>
            </div>
            <div class="text-item">
                <h2>الجنسية</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2>الديانة</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2>الحالة الاجتماعية</h2>
                <input type="text" />
            </div>
        </div>
        <div class="content-add">
            <div class="text-item">
                <h2>رقم الهوية</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2>تاريخ الاصدار</h2>
                <input type="date" />
            </div>
            <div class="text-item">
                <h2>تاريخ الانتهاء</h2>
                <input type="date" />
            </div>
        </div>
        <div class="content-add">
            <div class="text-item">
                <h2>رقم الجواز</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2>تاريخ الاصدار</h2>
                <input type="date" />
            </div>
            <div class="text-item">
                <h2>تاريخ الانتهاء</h2>
                <input type="date" />
            </div>
            <div class="text-item">
                <h2>مكان الاصدار</h2>
                <input type="text" />
            </div>
        </div>
         <div class="content-add">
                <div class="text-item">
                    <h2>المؤهل العلمي</h2>
                    <input type="text" />
                </div>
                <div class="text-item">
                    <h2>نوع المؤهل</h2>
                    <input type="text" />
                </div>
                <div class="text-item">
                    <h2>تاريخ التخرج</h2>
                    <input type="date" />
                </div>
                <div class="text-item">
                    <h2>مكان التخرج</h2>
                    <input type="text" />
                </div>
        </div>
        <div class="content-add">
            <div class="text-item">
                <h2>العنوان</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2>صورة الموظف</h2>
                <input type="file" />
            </div>
        </div>
        <div class="text-item-note">
            <h2>ملاحظات</h2>
            <textarea class="notes"></textarea>
        </div>
    </div>
</div>
