@rendermode InteractiveServer
@page "/EmployeesSections"

<div class="Add-B">
    <div class="text-add text-item">
        <h2> اضافة قسم جديد</h2>
        <a @onclick="()=> IsVisibaled = !IsVisibaled">X</a>
    </div>
    <AddEmployeeSection></AddEmployeeSection>
</div>
<div class="page my-page">

    <dev class="header-bra">
        <a class="btn-add" @onclick="()=>IsVisibaled = !IsVisibaled">
            @TesxtBTNadd
        </a>
        <div class="search">
            <input class="search-inp" type="search" value="" />
            <a href="#"><i>&</i></a>
            <a href="#"><i>&</i></a>
        </div>
    </dev>
    <div class=" my-table">
        <TableHeader item="@itemHeadTable"></TableHeader>
        @for (int i = 0; i < 5; i++)
        {
            <div class="my-table-div b-row row">
                <TableBody items="@itemBodeTableDemo"></TableBody>
            </div>
        }
    </div>
</div>

@if (IsVisibaled)
{
    TesxtBTNadd = "+ اضافة قسم جديد";
    <style>
        .Add-B {
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;
        }

        .search a, .search .search-inp {
            display: none;
        }

    </style>
}
else
{
    TesxtBTNadd = "+ اضافة";
    <style>
        .Add-B {
            display: none;
        }
    </style>
}

@code {
    private List<string> itemHeadTable = new List<string>
    {
        "اسم القسم",
        "الموظفين تحت هذا القسم",
        "تاريخ الانشاء",
        "اجراء",
    };
    private List<string> itemBodeTableDemo = new List<string>
    {
        "القسم 1",
        "170",
        "20021/11/26",
    };
    private bool IsVisibaled;
    private string TesxtBTNadd = "+ اضافة قسم جديد";
}
