@page "/"

<div class="continer">

    <div class="box">
        <div class="img-h2">
            <img src="/favicon.png" alt="Alternate Text" />
            <h5>عدد المستخدمين</h5>
        </div>
        <div class="count">1</div>
    </div>
    <div class="box">
        <div class="img-h2">
            <img src="/favicon.png" alt="Alternate Text" />
            <h5>عدد المستخدمين</h5>
        </div>
        <div class="count">1</div>
    </div>
    <div class="box">
        <div class="img-h2">
            <img src="/favicon.png" alt="Alternate Text" />
            <h5>عدد المستخدمين</h5>
        </div>
        <div class="count">1</div>
    </div>
    <div class="box">
        <div class="img-h2">
            <img src="/favicon.png" alt="Alternate Text" />
            <h5>عدد المستخدمين</h5>
        </div>
        <div class="count">10</div>
    </div>
</div>
