@page "/AddBonus"


<div class="content-page">
    <div class="cont-add">
        <div class="content-add">
            <div class="text-item">
                <h2>اختر القسم</h2>
                <select name="Employee">
                    <option>علاوة سكن</option>
                    <option>علاوة سفر</option>
                </select>
            </div>
            <div class="text-item">
                <h2>اختر الموظف</h2>
                <select name="Employee">
                    <option>غبي حامد</option>
                    <option>سليم سفر</option>
                </select>
            </div>
            <div class="text-item">
                <h2>اسم العلاوة</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2>المبلغ</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2>التاريخ</h2>
                <input type="date" />
            </div>
        </div>
        <div class="text-item-note">
            <h2>ملاحظات</h2>
            <textarea class="notes"></textarea>
        </div>
    </div>
</div>
