:root {
    --color-header: #f0f0f0;
}


.text-add {
    box-shadow: 0 5px 25px black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    height: 50px;
    padding: 0 20px;
}

    .text-add h2, .text-add a {
        text-align: start;
    }

    .text-add h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .text-add a {
        font-size: 25px;
        font-weight: 900;
    }

.text-item input {
    font-size: 20px;
    box-shadow: 0 5px 25px black;
}
