@page "/AddDiscountSection"


<div class="content-page">
    <div class="content-add">
        <div class="text-item">
            <h2> اسم القسم عربي</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>اسم القسم انجليري</h2>
            <input type="text" />
        </div>
        <div class="text-item-note">
            <h2>ملاحظات</h2>
            <textarea class="notes"></textarea>
        </div>
    </div>
</div>
