@page "/AddCourse"


<div class="content-page">
    <div class="cont-add">
        <div class="content-add">
            <div class="text-item">
                <h2>اختر موظف</h2>
                <select name="Employee">
                    <option>حامد علي احمد</option>
                    <option>علي صالح</option>
                </select>
            </div>
            <div class="text-item">
                <h2>اسم الكورس</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2>تاريخ بداية الكورس</h2>
                <input type="date" />
            </div>
            <div class="text-item">
                <h2>تاريخ انهاء الكورس</h2>
                <input type="date" />
            </div>
        </div>
        <div class="text-item-note">
            <h2>ملاحظات</h2>
            <textarea class="notes"></textarea>
        </div>
    </div>
</div>
