@page "/AddContract"


<div class="content-page">
    <div class="cont-add">
        <div class="content-add">
            <div class="text-item">
                <h2> الموظف</h2>
                <select name="employee">
                    <option>موظف 1</option>
                </select>
            </div>
            <div class="text-item">
                <h2> اسم العقد</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2> اسم الوظيفية عربي</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2> اسم الوظيفية انجليزي</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2> مدة العقد</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2> تاريخ بداية العقد</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2> تاريخ نهاية العقد</h2>
                <input type="text" />
            </div>
            <div class="text-item">
                <h2> تاريخ العقد</h2>
                <input type="text" />
            </div>
        </div>

        <div class="content-add">
            <div class="text-item">
                <h2> الراتب الاساسي</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2> علاوة غلاء معيشة</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2> علاوة طعام</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2> علاوة قيادة</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2> العمل الاضافي</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2> علاوة السكن</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2> علاوة الهاتف</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2> علاوات اخرى</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2>التامين الطبي</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2>خصم صندوق التامينات الاجتماعية</h2>
                <input type="number" />
            </div>
            <div class="text-item">
                <h2>الراتب الاجمالي</h2>
                <input type="number" />
            </div>
        </div>

    </div>

</div>
