@page "/AddHoliday"


<div class="content-page">
    <div class="content-add">
        <div class="text-item">
            <h2> اختر القسم</h2>
            <select>
                <option>قسم 1</option>
            </select>
        </div>
        <div class="text-item">
            <h2> اختر الموظف</h2>
            <select>
                <option>م 1</option>
            </select>
        </div>
        <div class="text-item">
            <h2>اسم الاجازة</h2>
            <input type="text" />
        </div>
        <div class="text-item">
            <h2>عدد الايام</h2>
            <input type="number" />
        </div>
        <div class="text-item">
            <h2>تاريخ بداية الاجازة</h2>
            <input type="date" />
        </div>
        <div class="text-item">
             <h2>تاريخ نهاية الاجازة</h2>
            <input type="date" />
        </div>>
        <div class="text-item">
            <h2>تاريخ مباشرة العمل بعد الاجازة</h2>
            <input type="date" />
        </div>
        <div class="text-item">
            <h2>الموظف البديل</h2>
            <input type="text" />
        </div>
        <div class="text-item-note">
            <h2>ملاحظات</h2>
            <textarea class="notes"></textarea>
        </div>
    </div>
</div>
